/*
* 	Owl Carousel Owl Demo Theme
*	v1.24
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
    padding-left:25px;
}
.blocked-area .owl-theme .owl-controls{
    padding-left:0;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-buttons div{
    color: #ccc;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,.8);
    position:absolute;
    top:50%;
    margin-top:-50px;
    z-index:11;
    display:none;
}
.owl-theme:hover .owl-buttons div{
    display:block;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-buttons div:hover{
    color:#666;
    text-decoration: none;
}
.owl-theme .owl-buttons div.owl-prev{
    left:30px;
}
.owl-theme .owl-buttons div.owl-next{
    right:0;
}
.owl-theme .owl-buttons div:hover{
    color:#fff;
}
.carousel-alt.owl-theme .owl-buttons div{
    background:none;
    color:#999;
    margin-top:-10px;
    display:block;
}
.carousel-alt.owl-theme .owl-buttons div.owl-prev{
    left:20px;
}
.carousel-alt.owl-theme .owl-buttons div.owl-next{
    right:-10px;
}
.single-carousel.owl-theme .owl-buttons div.owl-prev{
    left:15px;
}
.single-carousel.owl-theme .owl-buttons div.owl-next{
    right:15px;
}

/* Styling Pagination*/

.owl-theme .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ECEAE4;
}

.owl-theme .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(../images/AjaxLoader.gif) no-repeat center center
}
.owl-carousel .item{
    margin-left:30px;
}
.owl-carousel .owl-wrapper-outer{
    width:101%!important;
}
.owl-carousel.single-carousel .owl-wrapper-outer{
    width:100%!important;
}
.owl-carousel.single-carousel .item{
    margin-left: 15px;
    margin-right: 15px;
}
.owl-carousel.single-carousel{
    margin-left:0;
}
.owl-carousel{
    margin:0;
    list-style-type:none;
}
.carousel-fw.owl-theme .owl-buttons{
    width:100%;
}

.owl-pagination{
    margin-top:30px;
}
.owl-carousel{
    margin-left:-15px;
}
/* Hero Slider Config */
.hero-area .owl-theme .owl-controls{
    margin-top:0;
}
.hero-area .owl-carousel{
    margin-left:0;
}
.hero-area .owl-carousel .item{
    margin:0;
}
.hero-area .owl-carousel .item img{
    width:100%;
    height:auto;
}
.hero-area .carousel-alt.owl-theme .owl-buttons div{
    padding: 13px 20px;
    font-size: 14px;
    background:rgba(0,0,0,.8);
    display:none;
}
.hero-area .carousel-alt.owl-theme:hover .owl-buttons div{
    display:block;
}
.hero-area .owl-theme.carousel-alt .owl-buttons div.owl-prev{
    left:0;
}
.hero-area .owl-theme.carousel-alt .owl-buttons div.owl-next{
    right:0;
}