/*------------------------------------------------------------------
[Master Stylesheet]
Project:	AutoStars
Version:	1.1
Last change:	02/17/15
Author:	imithemes
-------------------------------------------------------------------*/

@import url("bootstrap.css");
@import url("bootstrap-theme.css");
@import url("ows-carousel.css");
@import url("owl-carousel-theme.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    margin: 30px 0px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
body {
    padding-top: 5rem;
}
